*
{
	box-sizing: border-box;
}
body
{
margin: 0 auto;
}
header
{
	text-align:  center;
}
.content
{
	padding: 0px 15px;
	margin: 0 auto;
	max-width: 1280px;
}
.zagolovok3
{
	position: relative;
	text-align: center;
}
.content__forms
{
	max-width: 500px;
	border-radius: 20px;
	margin: 15px auto 60px auto;
	position: relative;
	background: #00c4ff;
}
.secondform
{
padding: 30px;
}
.form__leftright
{
	display:  flex;
	padding: 30px 30px 20px 30px;
	justify-content: center;
	align-items: center;
}
.form__left div
{
margin: 10px 0 10px 0;
color: black;
font-size: 18px;
}
.form__right div
{
margin: 10px 0 10px 20px ;
}
input
{
	width:  100%;
}
.pushbtn
{
text-align: center;
}


.form__button
{
	text-align: center;
	padding-bottom: 30px;
}
.form__button button
{
	padding: 5px;
}
.content__tesseract
{
	margin: 15px auto 60px auto;
	max-width:  500px;
	background: #00c4ff;
	border-radius: 20px;
	padding: 30px;
	justify-content: center;
}
.content__tesseract div
{
	margin-top: 10px;
}
.workplace
{
	width: 100%;
}
.render
{
	width: 440px;
	min-height: 200px;
	border-radius: 4px;
	padding: 15px;
	flex-grow: 1;
	background: white;
	margin-bottom: 20px;
}
pre
{
	display: block;
    font-family: monospace;
    white-space: normal;
    margin: 1em 0px;
}